*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 600px;
    height: 350px;
    margin: auto;
    overflow: hidden;
}
.container-slide{
    display: flex;
    width: 1200px;
    height: 350px;
}
.image1,.image2{
    width: 600px;
    height: 350px;
}